.congratsDialogPaper {
    min-height: 60vh;
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 20px;
}

.congratsTitle {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #4caf50;
    margin-bottom: 20px;
}

.congratsContent {
    font-size: 1.2rem;
    text-align: center;
    color: #555;
    margin-top: 20px;
}

.congratsTrophy {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

.congratsButton {
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    width: 100%;
    margin: 10px;
}

.congratsButton:hover {
    background-color: #45a049;
}